<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ssar</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>유튜브 영상</h1>
        <hr/>
        <div class="input_box">
            <input type="text" placeholder="원하는 유튜브 주소를 붙여넣기 해봐요" id="insert-url">
        </div>
        <div id="my-video"></div>
    
        <script src="js/main.js"></script>
    </div>

</body>
</html>